<v-container v-if="!paramsLoaded" fluid data-aid="aimetrics_loading_parameters"></v-container>
<v-container v-else-if="assistantEnabled" fluid data-aid="aimetrics_screen">
  <v-dialog v-model="showOptionsDialog" max-width="540">
    <v-card class="options-dialog">
      <v-card-title role="heading" aria-level="2">{{i18n.options}}</v-card-title>
      <v-card-text data-aid="aimetrics_options">
        <span data-aid="aimetrics_autorefresh_select">
          <v-select id="aimetrics-auto-refresh" :disabled="$root.loading" v-model="autoRefreshInterval" @update:focused="autoRefreshIntervalChanged" :items="autoRefreshIntervals" :label="i18n.autoRefresh" prepend-icon="fa-hourglass-half"></v-select>
        </span>
        <span data-aid="aimetrics_timezone_select">
          <v-select :disabled="$root.loading" @update:model-value="zone = $event; saveLocalSettings(); loadData()" v-model="zone" :items="$root.timezones" :label="i18n.timezoneHelp" prepend-icon="fa-user-clock"></v-select>
        </span>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn variant="text" @click="showOptionsDialog = false">{{ i18n.close }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-row align="center" class="no-print" style="gap: 8px; flex-wrap: nowrap;">
    <v-col style="flex: 0 0 auto;" class="pa-0 align-self-end" id="aimetrics-breadcrumbs">
      <v-breadcrumbs :items="breadcrumbs" density="compact" class="py-0">
        <template #item="{ item }">
          <v-breadcrumbs-item
            :to="item.to"
            :disabled="item.disabled"
            :data-aid="'aimetrics_breadcrumb_' + item.title"
          >
            {{ item.title }}
          </v-breadcrumbs-item>
        </template>
        <template #divider>
          <v-icon>fa-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-col>
    <v-spacer></v-spacer>
    <v-col style="flex: 0 0 auto;" class="pa-0">
      <v-toolbar class="so-toolbar elevation-0" variant="flat">
        <v-text-field :disabled="$root.loading" v-if="relativeTimeEnabled" id="aimetrics-relative-time-value" @change="notifyInputsChanged" class="mx-2"
          v-model="relativeTimeValue" type="number" data-aid="aimetrics_relative_time_input"
          density="compact" hide-details style="min-width: 280px; max-width: 350px;" :aria-label="i18n.ariaRelativeTime">
          <template #prepend>
            <v-btn v-if="relativeTimeEnabled" icon variant="text" size="x-small" @click="showAbsoluteTime"
            id="aimetrics-show-absolute-time" data-aid="aimetrics_absolute_time_toggle" :aria-label="i18n.ariaAbsoluteTimeToggle">
              <v-icon class="theme-icon">fa-history</v-icon>
            </v-btn>
            <div v-if="relativeTimeEnabled" class="px-4">
              {{ i18n.last }}
            </div>
          </template>
          <template #append>
            <span data-aid="aimetrics_relative_time_units">
              <v-select id="aimetrics-relative-time-unit" class="my-n1 py-0 no-details align-self-start" :disabled="$root.loading" v-if="relativeTimeEnabled" @update:model-value="relativeTimeUnit = $event; notifyInputsChanged()"
                v-model="relativeTimeUnit" :items="relativeTimeUnits" variant="plain" :aria-label="i18n.ariaRelativeTimeUnits"></v-select>
            </span>
          </template>
        </v-text-field>
        <v-text-field :disabled="$root.loading" v-if="!relativeTimeEnabled" id="aimetrics-date-range" @change="notifyInputsChanged" class="mx-2 closer-prepend"
          v-model="dateRange" :aria-label="i18n.ariaAbsoluteTime"
          data-aid="aimetrics_absolute_time" hide-details style="min-width: 502px; max-width: 560px;">
          <template #prepend>
            <v-btn v-if="!relativeTimeEnabled" icon variant="text" size="x-small" @click="showRelativeTime"
              id="aimetrics-show-relative-time" data-aid="aimetrics_relative_time_toggle" :aria-label="i18n.ariaRelativeTimeToggle">
              <v-icon class="theme-icon">fa-calendar-alt</v-icon>
            </v-btn>
            <v-btn @click="showDateRangePicker()" icon variant="text" size="x-small" :aria-label="i18n.ariaShowDateRangePicker">
              <v-icon class="theme-icon">fa-angle-down</v-icon>
            </v-btn>
          </template>
        </v-text-field>
      </v-toolbar>
    </v-col>
    <v-col style="flex: 0 0 auto;" class="pa-0">
      <v-toolbar class="so-toolbar elevation-0" variant="flat">
        <v-btn icon variant="flat" @click.stop="loadData()" id="aimetrics-refresh-button" class="circle-button mx-2" data-aid="aimetrics_refresh" :aria-label="i18n.ariaReloadData">
          <v-icon>fa-sync</v-icon>
        </v-btn>
        <v-btn icon variant="flat" class="circle-button mx-2" :title="i18n.options" @click="showOptionsDialog = true" id="aimetrics-options-header" data-aid="aimetrics_options_button" :aria-label="i18n.options">
          <v-icon>fa-gear</v-icon>
        </v-btn>
        <v-btn icon variant="flat" class="circle-button mx-2" :target="$root.target('so-help')" :href="$root.parameters.docsUrl + 'onion-ai'" :title="i18n.contextualDocsBtn" data-aid="aimetrics_docs" :aria-label="i18n.ariaAssistantDocs">
          <v-icon>fa-circle-question</v-icon>
        </v-btn>
      </v-toolbar>
    </v-col>
  </v-row>
  <v-row v-if="tableSetting == TABLE_SETTING_USERS || tableSetting == TABLE_SETTING_SESSIONS">
    <v-col id="aimetrics-graphs" class="section-panel" data-aid="aimetrics_graphs_tab">
      <v-toolbar density="compact" variant="flat">
        <v-toolbar-title role="heading" aria-level="2">{{ i18n.graphMetrics }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn variant="text" size="small" icon class="mr-1" @click="toggleShowSection('aimetrics-graphs')" data-aid="aimetrics_graphs_toggle" :aria-expanded="isExpandedSection('aimetrics-graphs')" :aria-label="i18n.ariaExpandGraphs">
          <v-icon v-if="!isExpandedSection('aimetrics-graphs')" data-aid="aimetrics_graphs_expand">fa-angle-down</v-icon>
          <v-icon v-if="isExpandedSection('aimetrics-graphs')" data-aid="aimetrics_graphs_collapse">fa-angle-up</v-icon>
        </v-btn>
      </v-toolbar>
      <div v-if="tableSetting == TABLE_SETTING_USERS && isExpandedSection('aimetrics-graphs')">
        <v-row>
          <v-col cols="12" md="4" data-aid="aimetrics_users_pie_credits">
            <pie-chart id="aimetrics-users-pie-credits" :height="chartHeight" :key="graphUsersCreditsData.key" :data="graphUsersCreditsData" :options="graphUsersCreditsOptions" :aria-label="$root.replaceActionVar(i18n.ariaPieChartFor, 'title', graphUsersCreditsOptions.plugins.title.text)"></pie-chart>
          </v-col>
          <v-col cols="12" md="4" data-aid="aimetrics_users_pie_sessions">
            <pie-chart id="aimetrics-users-pie-sessions" :height="chartHeight" :key="graphUsersSessionsData.key" :data="graphUsersSessionsData" :options="graphUsersSessionsOptions" :aria-label="$root.replaceActionVar(i18n.ariaPieChartFor, 'title', graphUsersSessionsOptions.plugins.title.text)"></pie-chart>
          </v-col>
          <v-col cols="12" md="4" data-aid="aimetrics_users_pie_messages">
            <pie-chart id="aimetrics-users-pie-messages" :height="chartHeight" :key="graphUsersMessagesData.key" :data="graphUsersMessagesData" :options="graphUsersMessagesOptions" :aria-label="$root.replaceActionVar(i18n.ariaPieChartFor, 'title', graphUsersMessagesOptions.plugins.title.text)"></pie-chart>
          </v-col>
        </v-row>
      </div>
      <div v-else-if="tableSetting == TABLE_SETTING_SESSIONS && isExpandedSection('aimetrics-graphs')">
        <v-row>
          <v-col cols="12" md="6" data-aid="aimetrics_sessions_timeline_credits">
            <line-chart id="aimetrics-sessions-timeline-credits" :height="chartHeight" :key="graphSessionsCreditsData.key" :data="graphSessionsCreditsData" :options="graphSessionsCreditsOptions" :aria-label="i18n.ariaChartCreditsUsage"></line-chart>
          </v-col>
          <v-col cols="12" md="6" data-aid="aimetrics_sessions_pie_messages">
            <pie-chart id="aimetrics-sessions-pie-messages" :height="chartHeight" :key="graphSessionsMessagesData.key" :data="graphSessionsMessagesData" :options="graphSessionsMessagesOptions" :aria-label="i18n.ariaChartTotalMessages"></pie-chart>
          </v-col>
        </v-row>
      </div>
		</v-col>
  </v-row>
  <v-row>
    <v-col id="aimetrics-table" class="section-panel">
      <v-toolbar density="compact" variant="flat">
        <v-toolbar-title role="heading" aria-level="2">{{ i18n.tableMetrics }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field class="toolbar-field" style="max-width: 250px;" v-model="searchFilter" clearable prepend-inner-icon="fa-filter" :label="i18n.filterResults" single-line hide-details data-aid="aimetrics_filter">
          <template #clear="{ props }">
            <v-icon v-bind="props">fa-times-circle</v-icon>
          </template>
        </v-text-field>
        <v-btn variant="text" size="small" icon class="ml-2 mr-1" @click="toggleShowSection('aimetrics-table')" data-aid="aimetrics_table_toggle" :aria-expanded="isExpandedSection('aimetrics-table')" :aria-label="i18n.ariaExpandTable">
          <v-icon v-if="!isExpandedSection('aimetrics-table')" data-aid="aimetrics_table_expand">fa-angle-down</v-icon>
          <v-icon v-if="isExpandedSection('aimetrics-table')" data-aid="aimetrics_table_collapse">fa-angle-up</v-icon>
        </v-btn>
      </v-toolbar>
      <!-- Users Table -->
      <v-data-table v-if="tableSetting == TABLE_SETTING_USERS && isExpandedSection('aimetrics-table')" :search="searchFilter" :sort-by="sortByUsers" @update:sort-by="val => sortByUsers = val" @update:items-per-page="val => itemsPerPage = val"
        :items-per-page-options="itemsPerPageOptions" :items-per-page="itemsPerPage" must-sort :headers="headers[tableSetting]" :items="aimetrics" data-aid="aimetrics_table_users">
        <template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
          <tr>
            <template v-for="header in columns" :key="header.key">
              <th :class="[ header.align, {'is-sorted': isSorted(header)}, rightShiftedHeaders[tableSetting].includes(header?.value) ? 'text-right' : '' ]" :data-aid="'aimetrics_header_' + header?.value?.toLowerCase()" :aria-sort="isSorted(header) ? (getSortIcon(header) === '$sortAsc' ? 'ascending' : 'descending') : 'none'" scope="col">
                <span @click="toggleSort(header)">
                  {{ header.title }}
                </span>
                <template v-if="isSorted(header)">
                  <v-icon>
                    {{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
                  </v-icon>
                </template>
              </th>
            </template>
          </tr>
        </template>
        <template #item="{ item }">
          <tr>
            <td>{{ item.email }}</td>
            <td class="text-right">{{ item.totalInputTokens ? formatCount(item.totalInputTokens) : 0 }}</td>
            <td class="text-right">{{ item.totalOutputTokens ? formatCount(item.totalOutputTokens) : 0 }}</td>
            <td class="text-right">{{ item.totalCredits ? formatCount(item.totalCredits) : 0 }}</td>
            <td class="text-right">{{ item.creditPercentage }}</td>
            <td class="text-right">{{ item.totalSessions ? formatCount(item.totalSessions) : 0 }}</td>
            <td class="text-right">{{ item.totalMessages ? formatCount(item.totalMessages) : 0 }}</td>
            <td>
              <router-link :to="buildUserLink(item.userId)" class="no-print" style="text-decoration: none; cursor: 'pointer'" data-aid="aimetrics_open_user" :title="i18n.viewSessions" :aria-label="i18n.viewSessions + ' - ' + item.email">
                <v-icon class="mr-2 theme-icon">fa-binoculars</v-icon>
              </router-link>
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- Sessions Table -->
      <v-data-table v-if="tableSetting == TABLE_SETTING_SESSIONS && isExpandedSection('aimetrics-table')" :search="searchFilter" :sort-by="sortBySessions" @update:sort-by="val => sortBySessions = val" @update:items-per-page="val => itemsPerPage = val"
        :items-per-page-options="itemsPerPageOptions" :items-per-page="itemsPerPage" must-sort :headers="headers[tableSetting]" :items="aimetrics" v-model:expanded="expanded" data-aid="aimetrics_table_sessions">
        <template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
          <tr>
            <template v-for="header in columns" :key="header.key">
              <th :class="[ header.align, {'is-sorted': isSorted(header)}, rightShiftedHeaders[tableSetting].includes(header?.value) ? 'text-right' : '' ]" :data-aid="'aimetrics_header_' + header?.value?.toLowerCase()" :aria-sort="isSorted(header) ? (getSortIcon(header) === '$sortAsc' ? 'ascending' : 'descending') : 'none'" scope="col">
                <span @click="toggleSort(header)">
                  {{ header.title }}
                </span>
                <template v-if="isSorted(header)">
                  <v-icon>
                    {{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
                  </v-icon>
                </template>
              </th>
            </template>
          </tr>
        </template>
        <template #item="{ item }">
          <tr>
            <td>{{ trimTitle(item.title) }}</td>
            <td>{{ $root.formatLocalTimestamp(item.createTime, zone) }}</td>
            <td class="text-right">{{ item.duration }}</td>
            <td class="text-right">{{ item.totalInputTokens ? formatCount(item.totalInputTokens) : 0 }}</td>
            <td class="text-right">{{ item.totalOutputTokens ? formatCount(item.totalOutputTokens) : 0 }}</td>
            <td class="text-right">{{ item.totalCredits ? formatCount(item.totalCredits) : 0 }}</td>
            <td class="text-right">{{ item.creditsPerMinute ? formatCount(item.creditsPerMinute) : 0 }}</td>
            <td class="text-right">{{ item.totalMessages ? formatCount(item.totalMessages) : 0 }}</td>
            <td>
              <router-link :to="buildSessionLink(item.sessionId)" class="no-print" style="text-decoration: none; cursor: 'pointer'" data-aid="aimetrics_open_session" :aria-label="i18n.viewMessages">
                <v-icon class="mr-2 theme-icon" :title="i18n.viewMessages">fa-binoculars</v-icon>
              </router-link>
              <router-link v-if="$root.user?.id === item.userId" :to="buildAssistantLink(item.sessionId)" class="no-print" style="text-decoration: none; cursor: 'pointer'" data-aid="aimetrics_open_assistant" :aria-label="i18n.openSession">
                <v-icon class="mr-2 theme-icon" :title="i18n.openSession">fa-arrow-up-right-from-square</v-icon>
              </router-link>
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- Messages Table -->
      <v-data-table v-if="tableSetting == TABLE_SETTING_MESSAGES && isExpandedSection('aimetrics-table')" :search="searchFilter" :sort-by="sortByMessages" @update:sort-by="val => sortByMessages = val" @update:items-per-page="val => itemsPerPage = val"
        :items-per-page-options="itemsPerPageOptions" :items-per-page="itemsPerPage" must-sort :headers="headers[tableSetting]" :items="aimetrics" v-model:expanded="expanded" class="aimetrics-messages-table" data-aid="aimetrics_table_messages">
        <template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
          <tr>
            <template v-for="header in columns" :key="header.key">
              <th :class="[ header.align, {'is-sorted': isSorted(header)}, rightShiftedHeaders[tableSetting].includes(header?.value) ? 'text-right' : '' ]" :data-aid="'aimetrics_header_' + header?.value?.toLowerCase()" :aria-sort="isSorted(header) ? (getSortIcon(header) === '$sortAsc' ? 'ascending' : 'descending') : 'none'" scope="col">
                <span @click="toggleSort(header)">
                  {{ header.title }}
                </span>
                <template v-if="isSorted(header)">
                  <v-icon>
                    {{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
                  </v-icon>
                </template>
              </th>
            </template>
          </tr>
        </template>
        <template #item="{ item, isExpanded, toggleExpand, internalItem }">
          <tr :class="{'seamless-expanded-row': isExpanded(internalItem), 'main-row': true}">
            <td>
              <v-btn id="aimetrics-expand-node" icon variant="text" size="small" @click="toggleExpand(internalItem)" data-aid="aimetrics_details_expand" :aria-label="$root.replaceActionVar(i18n.expandRow, 'expanded_state', isExpanded(internalItem) ? i18n.expanded : '')" :aria-expanded="isExpanded(internalItem)">
                <v-icon v-if="isExpanded(internalItem)" :alt="i18n.expand" :title="i18n.nodeExpandHelp" data-aid="aimetrics_details_collapse">fa-angle-down</v-icon>
                <v-icon v-else :alt="i18n.expand" :title="i18n.nodeExpandHelp" data-aid="aimetrics_details_expand">fa-angle-right</v-icon>
              </v-btn>
            </td>
            <td>{{ expandMessagePreview(item.expandMessage) }}</td>
            <td>{{ $root.formatLocalTimestamp(item.createTime, zone) }}</td>
            <td>{{ item.role }}</td>
            <td class="text-right">{{ item.inputTokens ? formatCount(item.inputTokens) : '' }}</td>
            <td class="text-right">{{ item.outputTokens ? formatCount(item.outputTokens) : '' }}</td>
            <td class="text-right">{{ item.credits ? formatCount(item.credits) : '' }}</td>
            <td>{{ item.model || '' }}</td>
          </tr>
        </template>
        <template #expanded-row="{ item }">
          <tr class="expanded-row">
            <td :colspan="headers[tableSetting].length" class="px-4 py-3">
              <div v-if="item.role === 'assistant'" class="expansion va-middle hardwrap-aimetrics" v-html="formatMarkdownMermaid(item.expandMessage)" data-aid="aimetrics_message_content_assistant"></div>
              <div v-else class="expansion va-middle hardwrap-aimetrics" :data-aid="messageAid(item)" v-html="sanitizeHtml(item.expandMessage)"></div>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</v-container>
<v-container v-else-if="$root.isLicensed('oai')" fluid data-aid="aimetrics_disabled">
	<div style="
		align-items: center;
		margin: 0;
		display: flex;
		min-height: 50vh;
		justify-content: center;
    gap: 8px;
    flex-direction: column;
	">
    <div class="my-8" style="display: flex; gap: 8px; align-items: center;">
      <div>{{ i18n.assistantDisabled }}</div>
      <router-link v-if="$root.isUserAdmin()" :to="{name: 'config', query: {s: 'soc.config.server.client.assistant.enabled'}}" class="no-print" style="text-decoration: none; cursor: 'pointer'" data-aid="aimetrics_config_entry_enabled" :aria-label="i18n.ariaVisitConfigEntry">
        <v-icon class="mr-2 theme-icon" :title="i18n.visitConfigEntry">fa-gear</v-icon>
      </router-link>
    </div>
  </div>
</v-container>
<v-container v-else>
	<div style="
		align-items: center;
		display: flex;
		min-height: 50vh;
		justify-content: center;
    gap: 8px;
    flex-direction: column;
	">
    <div class="my-8" v-html="i18n.assistantUnavailable"></div>
  </div>
</v-container>