<div id="component-detection-details-col">
	<v-expansion-panels focusable multiple v-model="panel">
		<v-expansion-panel v-if="!isNew()" class="mb-3" data-aid="detection_metadata_summary">
			<v-expansion-panel-title>
				<h3 class="my-0">{{ i18n.operations }}</h3>
			</v-expansion-panel-title>
			<v-expansion-panel-text>
				<span>
					<div class="ops-header">
						{{ i18n.status }}: {{ detect.isEnabled ? i18n.enabled : i18n.disabled }}
					</div>
					<div data-aid="detection_metadata_enabled_toggle">
						<v-switch id="detection-enabled-edit" inset v-model="detect.isEnabled" @change="emit('save')" :aria-label="i18n.ariaDetectionStatus"></v-switch>
					</div>
				</span>
				<div id="ops-buttons">
					<v-btn id="detection-duplicate" color="primary" @click="emit('duplicate')" data-aid="detection_metadata_duplicate" class="flex-basis-50">
						{{i18n.duplicate}}
					</v-btn>
					<v-btn :disabled="detect.isCommunity" id="detection-delete" :color="detect.isCommunity ? '' : 'error'" @click="deleteDetection()" data-aid="detection_metadata_delete" class="flex-basis-50">
						{{i18n.delete}}
					</v-btn>
				</div>
			</v-expansion-panel-text>
		</v-expansion-panel>
		<v-expansion-panel v-if="!isNew()" class="mt-0" data-aid="detection_metadata_details">
			<v-expansion-panel-title id="detection-extracted-details">
				<h3 class="my-0">{{ i18n.details }}</h3>
			</v-expansion-panel-title>
			<v-expansion-panel-text>
				<div class="ops-header">
					{{ i18n.publicId }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_id_display">
					{{ detect.publicId }}
				</div>
				<div class="ops-header">
					{{ i18n.type }}:
				</div>
				<div class="ops-value case-title" data-aid="detection_metadata_public_language_display">
					{{ $root.correctCasing(detect.language) }}
				</div>
				<div class="ops-header">
					{{ i18n.severity }}:
				</div>
				<div class="ops-value case-title" data-aid="detection_metadata_public_severity_display">
					{{ detect.severity }}
				</div>
				<div class="ops-header">
					{{ i18n.ruleset }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_ruleset_display">
					{{ $root.tryLocalize(detect.ruleset) }}
				</div>
				<div class="ops-header">
					{{ i18n.license }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_license_display">
					{{ detect.license }}
				</div>
				<div class="ops-header">
					{{ i18n.dateCreated }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_created_time_display">
					{{ formatUTCDate(detect.sourceCreated) }}
				</div>
				<div class="ops-header">
					{{ i18n.dateModified }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_updated_time_display">
					{{ formatUTCDate(detect.sourceUpdated) }}
				</div>
				<div class="ops-header">
					{{ i18n.author }}:
				</div>
				<div class="ops-value" data-aid="detection_metadata_public_author_display">
					{{ detect.author }}
				</div>
			</v-expansion-panel-text>
		</v-expansion-panel>
	</v-expansion-panels>

	<div v-if="!isNew()" class="ml-2 mt-2">
		<div class="case summary">
			<span class="case label">{{i18n.socId}}:</span>
			<span class="case value" data-aid="detection_metadata_id_display">{{ detect.id }}</span>
		</div>
		<div class="case summary">
			<span class="case label">{{i18n.socUser}}:</span>
			<span class="case value" data-aid="detection_metadata_author_display">{{ $root.tryLocalize(detect.userName) }}</span>
		</div>
		<div class="case summary">
			<span class="case label">{{i18n.dateCreated}}:</span>
			<span class="case value" data-aid="detection_metadata_create_time_display">{{ formatDateTime(detect.createTime)}}</span>
		</div>
		<div class="case summary">
			<span class="case label">{{i18n.dateModified}}:</span>
			<span class="case value" data-aid="detection_metadata_update_time_display">{{ formatDateTime(detect.updateTime) }}</span>
		</div>
	</div>

	<v-dialog v-model="confirmDeleteDialog" persistent max-width="350" data-aid="detection_confirm_delete_dialog">
		<v-card>
			<v-card-title class="text-headline-small" v-text="i18n.detectionConfirmDelete"></v-card-title>
			<v-card-text v-html="i18n.detectionConfirmDeleteHelp"></v-card-text>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn variant="text" id="detection-delete-proceed-button" @click="confirmDeleteDetection()" v-text="i18n.yes" data-aid="detection_delete_dialog_confirm"></v-btn>
				<v-btn variant="text" id="detection-delete-cancel-button" @click="cancelDeleteDetection()" v-text="i18n.no" data-aid="detection_delete_dialog_abort"></v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</div>
