<v-container fluid data-aid="jobs_screen">
<v-row>
		<v-col>
			<v-row>
				<v-toolbar class="so-toolbar elevation-0" fixed>
					<v-btn v-if="canCreate()" icon variant="flat" @click.stop="openNewJobDialog" id="add-pcap-job-button" class="circle-button mx-2" data-aid="jobs_create_new" :aria-label="i18n.ariaCreateJob">
						<v-icon>fa-plus</v-icon>
					</v-btn>
					<v-btn icon variant="flat" @click.stop="loadData()" id="jobs-refresh-button" class="circle-button mx-2" data-aid="jobs_refresh_button" :aria-label="i18n.ariaReloadData">
						<v-icon>fa-sync</v-icon>
					</v-btn>
					<v-spacer></v-spacer>
					<v-btn icon variant="flat" class="circle-button mx-2" :target="$root.target('so-help')" :href="$root.parameters.docsUrl + (isKind('reports') ? 'reports' : 'pcap')" :title="i18n.ariaJobsHelp" data-aid="jobs_docs" :aria-label="i18n.ariaJobsHelp">
						<v-icon>fa-circle-question</v-icon>
					</v-btn>		  
				</v-toolbar>
			</v-row>
			<v-row>
				<v-data-table :sort-by="sortBy" @update:sort-by="val => sortBy = val" :items-per-page-options="itemsPerPageOptions" v-model:items-per-page="itemsPerPage"
					must-sort :headers="getHeaders()" :items="jobs">
					<template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
						<tr>
							<template v-for="header in columns" :key="header.key">
								<th :class="{'is-sorted': isSorted(header)}" v-if="header.value != 'expand' || $root.isUserAdmin()" :data-aid="'jobs_header_' + header?.value?.toLowerCase()" scope="col" :aria-sort="isSorted(header) ? (getSortIcon(header) === '$sortAsc' ? 'ascending' : 'descending') : 'none'">
									<span @click="toggleSort(header)">
										{{ header.title }}
									</span>
									<template v-if="isSorted(header)">
										<v-icon>
											{{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
										</v-icon>
									</template>
								</th>
							</template>
						</tr>
					</template>
					<template #item="{ item }">
						<tr>
							<td>
								<router-link v-if="isViewable()" :to="{ name: 'job', params: {jobId: item.id}}" style="cursor: 'pointer'" data-aid="jobs_open_id">
									{{ item.id }}
								</router-link>
								<a v-else-if="isDownloadable() && isDownloadReady(item)" :target="'report-' + item.id" :href="downloadUrl(item)" style="cursor: 'pointer'" data-aid="jobs_download_id">
									{{ item.id }}
								</a>
								<div v-else>
									{{ item.id }}
								</div>
							</td>
							<td>{{ item.owner }}</td>
							<td>{{ formatTimestamp(item.createTime) }}</td>
							<td v-if="isSensorJob()">{{ formatTimestamp(item.completeTime) }}</td>
							<td v-if="isSensorJob()" v-text="item.nodeId"></td>
							<td v-else-if="isDownloadable()" v-text="getDescription(item)"></td>
							<td v-if="isDownloadable()">{{ formatCount(formatDecimal1(item.size / 1000)) }} KB</td>
							<td><v-chip density="compact" :color="colorJobStatus(item)" data-aid="jobs_status">{{ formatJobStatus(item) }}</v-chip></td>
							<td>
								<router-link v-if="isViewable()" :to="{ name: 'job', params: {jobId: item.id}}" style="text-decoration: none; cursor: 'pointer'" data-aid="jobs_open" :aria-label="i18n.view">
									<v-icon class="mr-2" :title="i18n.view">fa-binoculars</v-icon>
								</router-link>
								<a v-if="isDownloadable() && isDownloadReady(item)" :target="'report-' + item.id" :href="downloadUrl(item)" style="text-decoration: none; cursor: 'pointer'" data-aid="jobs_download" :aria-label="i18n.download">
									<v-icon class="mr-2" :title="i18n.download">fa-download</v-icon>
								</a>
								<v-icon class="mr-2" :title="i18n.delete" @click.stop="deleteJob(item)" @keydown.space.enter.stop="deleteJob(item)" data-aid="jobs_delete" :aria-label="i18n.delete" role="button" tabindex="0">fa-times-circle</v-icon>
							</td>
						</tr>
					</template>
				</v-data-table>
			</v-row>
			<v-dialog v-model="dialog" width="800px" data-aid="jobs_create_dialog">
				<v-card id="pcap-job-dialog">
					<v-card-title class="lighten-4 py-4 title">{{ i18n.add }} {{ i18n.job }}</v-card-title>
					<v-form v-model="form.valid">
						<v-container grid-list-sm class="pa-4">
							<v-row>
								<v-col xs12>
									<v-text-field v-if="isKind('pcap')" v-model="form.sensorId" :label="i18n.sensorId" persistent-hint :hint="i18n.sensorIdHelp" data-aid="jobs_create_dialog_sensor_id"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.importId" :label="i18n.importId" persistent-hint :hint="i18n.importIdHelp" data-aid="jobs_create_dialog_import_id"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.protocol" :label="i18n.protocol" persistent-hint :hint="i18n.protocolHelp" data-aid="jobs_create_dialog_protocol"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.srcIp" :label="i18n.srcIp" persistent-hint :hint="i18n.srcIpHelp" data-aid="jobs_create_dialog_src_ip"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.srcPort" :label="i18n.srcPort" persistent-hint :hint="i18n.srcPortHelp" data-aid="jobs_create_dialog_src_port"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.dstIp" :label="i18n.dstIp" persistent-hint :hint="i18n.dstIpHelp" data-aid="jobs_create_dialog_dst_ip"></v-text-field>
									<v-text-field v-if="isKind('pcap')" v-model="form.dstPort" :label="i18n.dstPort" persistent-hint :hint="i18n.dstPortHelp" data-aid="jobs_create_dialog_dst_port"></v-text-field>
									<v-select v-if="isKind('reports')" :items="getReportTypes()" v-model="form.type" :rules="[$root.validators.required]" :label="i18n.reportTypePlaceholder" persistent-hint :hint="i18n.reportTypeHelp" data-aid="jobs_create_dialog_kind"></v-select>
									<v-text-field id="jobtimeframe" v-model="form.timeframe" :label="i18n.timeFrame" persistent-hint :hint="isKind('reports') ? i18n.timeFrameReportsHelp : i18n.timeFrameHelp" data-aid="jobs_create_dialog_timeframe"></v-text-field>
								</v-col>
							</v-row>
						</v-container>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn variant="text" @click="clearAddJobForm()" v-text="i18n.clear" data-aid="jobs_create_dialog_clear"></v-btn>
							<v-btn variant="text" @click="dialog = false" v-text="i18n.cancel" data-aid="jobs_create_dialog_cancel"></v-btn>
							<v-btn :disabled="!form.valid" text color="primary" @click="submitAddJob" v-text="i18n.add" data-aid="jobs_create_dialog_add"></v-btn>
						</v-card-actions>
					</v-form>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</v-container>
