<v-container fluid data-aid="jobs_screen">
	<v-row>
		<v-col>
			<h2 v-if="isKind('pcap')" v-text="i18n.jobs"></h2>
			<h2 v-if="!isKind('pcap')" v-text="kind"></h2>
		</v-col>
	</v-row>
	<v-row>
		<v-col>
			<v-toolbar v-if="isKind('pcap')" class="elevation-0 theme-background-lighten-1" fixed>
				<v-btn variant="flat" color="primary" @click.stop="openNewJobDialog" id="add-pcap-job-button" class="ml-3" data-aid="jobs_create_new">
					<v-icon>fa-plus</v-icon>
				</v-btn>
				<v-btn variant="flat" color="secondary" @click.stop="loadData()" id="jobs-refresh-button" class="ml-3" data-aid="jobs_refresh_button">
					<v-icon>fa-sync</v-icon>
				</v-btn>		  
			</v-toolbar>
			<v-data-table :sort-by="sortBy" @update:sort-by="val => sortBy = val" :items-per-page-options="itemsPerPageOptions" v-model:items-per-page="itemsPerPage"
				must-sort :headers="headers" :items="jobs">
				<template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
					<tr>
						<template v-for="header in columns" :key="header.key">
							<th :class="{'is-sorted': isSorted(header)}" v-if="header.value != 'expand' || $root.isUserAdmin()" :data-aid="'jobs_header_' + header?.value?.toLowerCase()">
								<span @click="toggleSort(header)">
									{{ header.title }}
								</span>
								<template v-if="isSorted(header)">
									<v-icon>
										{{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
									</v-icon>
								</template>
							</th>
						</template>
					</tr>
				</template>
				<template #item="{ item }">
					<tr>
						<td>
							<router-link :to="{ name: 'job', params: {jobId: item.id}}" :style="{ cursor: 'pointer'}" data-aid="jobs_open_id">
								{{ item.id }}
							</router-link>
						</td>
						<td>{{ item.owner }}</td>
						<td>{{ formatTimestamp(item.createTime) }}</td>
						<td>{{ formatTimestamp(item.completeTime) }}</td>
						<td v-text="item.nodeId"></td>
						<td><v-chip density="compact" :color="colorJobStatus(item)" data-aid="jobs_status">{{ formatJobStatus(item) }}</v-chip></td>
						<td>
							<router-link :to="{ name: 'job', params: {jobId: item.id}}" style="text-decoration: none; cursor: 'pointer'" data-aid="jobs_open">
								<v-icon class="mr-2" :title="i18n.view">fa-binoculars</v-icon>
							</router-link>
							<v-icon class="mr-2" :title="i18n.delete" @click.stop="deleteJob(item)" data-aid="jobs_delete">fa-times-circle</v-icon>
						</td>
					</tr>
				</template>
			</v-data-table>
			<v-dialog v-model="dialog" width="800px" data-aid="jobs_create_dialog">
				<v-card id="pcap-job-dialog">
					<v-card-title class="lighten-4 py-4 title">{{ i18n.add }} {{ i18n.job }}</v-card-title>
					<v-form v-model="form.valid">
						<v-container grid-list-sm class="pa-4">
							<v-row>
								<v-col xs12>
									<v-text-field variant="underlined" v-model="form.sensorId" :placeholder="i18n.sensorId" persistent-hint :hint="i18n.sensorIdHelp" data-aid="jobs_create_dialog_sensor_id"></v-text-field>
									<v-text-field variant="underlined" v-model="form.importId" :placeholder="i18n.importId" persistent-hint :hint="i18n.importIdHelp" data-aid="jobs_create_dialog_import_id"></v-text-field>
									<v-text-field variant="underlined" v-model="form.protocol" :placeholder="i18n.protocol" persistent-hint :hint="i18n.protocolHelp" data-aid="jobs_create_dialog_protocol"></v-text-field>
									<v-text-field variant="underlined" v-model="form.srcIp" :placeholder="i18n.srcIp" persistent-hint :hint="i18n.srcIpHelp" data-aid="jobs_create_dialog_src_ip"></v-text-field>
									<v-text-field variant="underlined" v-model="form.srcPort" :placeholder="i18n.srcPort" persistent-hint :hint="i18n.srcPortHelp" data-aid="jobs_create_dialog_src_port"></v-text-field>
									<v-text-field variant="underlined" v-model="form.dstIp" :placeholder="i18n.dstIp" persistent-hint :hint="i18n.dstIpHelp" data-aid="jobs_create_dialog_dst_ip"></v-text-field>
									<v-text-field variant="underlined" v-model="form.dstPort" :placeholder="i18n.dstPort" persistent-hint :hint="i18n.dstPortHelp" data-aid="jobs_create_dialog_dst_port"></v-text-field>
									<v-text-field id="jobtimeframe" variant="underlined" v-model="form.timeframe" :placeholder="i18n.timeFrame" persistent-hint :hint="i18n.timeFrameHelp" data-aid="jobs_create_dialog_timeframe"></v-text-field>
								</v-col>
							</v-row>
						</v-container>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn variant="text" @click="clearAddJobForm()" v-text="i18n.clear" data-aid="jobs_create_dialog_clear"></v-btn>
							<v-btn variant="text" @click="dialog = false" v-text="i18n.cancel" data-aid="jobs_create_dialog_cancel"></v-btn>
							<v-btn :disabled="!form.valid" text color="primary" @click="submitAddJob" v-text="i18n.add" data-aid="jobs_create_dialog_add"></v-btn>
						</v-card-actions>
					</v-form>
				</v-card>
			</v-dialog>
		</v-col>
	</v-row>
</v-container>
