<v-container fluid data-aid="notifications_screen">
  <v-row>
    <v-col>
      <v-row>
        <v-toolbar class="so-toolbar elevation-0" fixed>
          <h4 class="ml-2 my-0" data-aid="notifications_summary" role="heading" aria-level="2">{{ i18n.notifications }}</h4>
          <v-spacer></v-spacer>
          <v-btn v-if="tab === 'destinations'" icon variant="flat" class="circle-button mx-2" @click.stop="addDestination()" :title="i18n.addDestination" :aria-label="i18n.ariaDestinationNew" id="add-destination-button" data-aid="notifications_add_destination_button">
            <v-icon>fa-plus</v-icon>
          </v-btn>
          <v-btn v-else-if="tab === 'schedules'" icon variant="flat" class="circle-button mx-2" @click.stop="addSchedule()" :title="i18n.addSchedule" :aria-label="i18n.ariaScheduleNew" id="add-schedule-button" data-aid="notifications_add_schedule_button">
            <v-icon>fa-plus</v-icon>
          </v-btn>
          <v-btn icon variant="flat" @click.stop="refresh()" id="notifications-refresh-button" class="circle-button mx-2" :title="i18n.refresh" :aria-label="i18n.ariaNotificationsRefresh" data-aid="notifications_refresh_button">
            <v-icon>fa-sync</v-icon>
          </v-btn>
          <v-btn icon variant="flat" class="circle-button mx-2" :target="$root.target('so-help')" :href="$root.parameters.docsUrl + 'notifications'" :title="i18n.contextualDocsBtn" data-aid="notifications_docs" :aria-label="i18n.ariaHelpLink">
            <v-icon>fa-circle-question</v-icon>
          </v-btn>
        </v-toolbar>
      </v-row>

      <v-tabs v-model="tab" color="primary" class="my-3" data-aid="notifications_tabs">
        <v-tab value="destinations" data-aid="notifications_tab_destinations">{{ i18n.destinations }}</v-tab>
        <v-tab value="schedules" data-aid="notifications_tab_schedules">{{ i18n.activationSchedules }}</v-tab>
      </v-tabs>

      <v-tabs-window v-model="tab">
        <!-- Destinations Tab -->
        <v-tabs-window-item value="destinations" data-aid="notifications_destinations_tab">
          <destinations-manager ref="destinationsManager" data-aid="notifications_destinations_manager"></destinations-manager>
        </v-tabs-window-item>

        <!-- Activation Schedules Tab -->
        <v-tabs-window-item value="schedules" data-aid="notifications_schedules_tab">
          <schedules-manager ref="schedulesManager" data-aid="notifications_schedules_manager"></schedules-manager>
        </v-tabs-window-item>
      </v-tabs-window>
    </v-col>
  </v-row>
</v-container>
