<v-container fluid data-aid="queries_screen">
  <v-dialog v-model="showOptionsDialog" max-width="540">
    <v-card class="options-dialog">
      <v-card-title role="heading" aria-level="2">{{i18n.options}}</v-card-title>
      <v-card-text data-aid="queries_options">
        <span data-aid="queries_filter_toggle">
          <v-switch v-model="filterEnabled" density="compact" hide-details class="my-0" :label="i18n.activeQueriesFilter"></v-switch>
        </span>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn variant="text" @click="showOptionsDialog = false">{{ i18n.close }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
    <v-row>
    <v-col>
      <v-row>
        <v-toolbar class="so-toolbar elevation-0" fixed>
          <h4 class="ml-2 my-0" data-aid="queries_summary" role="heading" aria-level="2">{{ i18n.activeQueriesCount }} {{ queries.length }}</h4>
          <v-spacer></v-spacer>
          <v-btn icon variant="flat" @click.stop="loadData()" id="queries_refresh_button" class="circle-button mx-2" data-aid="queries_refresh" :aria-label="i18n.ariaReloadData">
            <v-icon>fa-sync</v-icon>
          </v-btn>
          <v-btn icon variant="flat" class="circle-button mx-2" :title="i18n.options" @click="showOptionsDialog = true" id="queries-options-header" data-aid="queries_options_button" :aria-label="i18n.options">
            <v-icon>fa-gear</v-icon>
          </v-btn>
          <v-btn icon variant="flat" class="circle-button mx-2" :target="$root.target('so-help')" :href="$root.parameters.docsUrl + 'active-query-management'" :title="i18n.contextualDocsBtn" data-aid="queries_docs" :aria-label="i18n.ariaHelpLink">
            <v-icon>fa-circle-question</v-icon>
          </v-btn>
        </v-toolbar>
      </v-row>
      <v-row>
        <v-data-table :sort-by="sortBy" @update:sort-by="val => sortBy = val" @update:items-per-page="val => itemsPerPage = val" :items-per-page-options="itemsPerPageOptions"
        :items-per-page="itemsPerPage" must-sort :headers="headers" :items="queries">
          <template #headers="{ columns, isSorted, getSortIcon, toggleSort }">
            <tr>
              <template v-for="header in columns" :key="header.key">
                <th :class="[ header.align, {'is-sorted': isSorted(header)} ]" :data-aid="'queries_header_' + header?.value?.toLowerCase()" :aria-sort="isSorted(header) ? (getSortIcon(header) === '$sortAsc' ? 'ascending' : 'descending') : 'none'" scope="col">
                  <span @click="toggleSort(header)">
                    {{ header.title }}
                  </span>
                  <template v-if="isSorted(header)">
                    <v-icon>
                      {{ getSortIcon(header) === '$sortAsc' ? 'fa-caret-up' : 'fa-caret-down'}}
                    </v-icon>
                  </template>
                </th>
              </template>
            </tr>
          </template>
          <template #item="{ item }">
            <tr>
              <td>{{ item.taskId }}</td>
              <td v-if="$root.hasSubgrids()">{{ item.gridId ? item.gridId : i18n.gridLocal }}</td>
              <td>{{ item.details }}</td>
              <td :title="formatDateTime(item.startTime)">{{ formatDuration(item.elapsedMs / 1000) }}</td>
              <td>
                <v-icon v-if="item.cancelable" class="mr-2" :title="i18n.cancel" @click.stop="showCancelQueryConfirm(item)" data-aid="queries_cancel" role="button" tabindex="0" :aria-label="i18n.cancel" @keydown.enter.space.stop="showCancelQueryConfirm(item)">fa-times-circle</v-icon>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-row>
    </v-col>
  </v-row>
</v-container>

<v-dialog v-model="cancelQueryConfirmVisible" persistent max-width="450">
  <v-card>
    <v-card-title class="text-headline-small" role="heading" aria-level="2">{{ i18n.queryCancelConfirm }}</v-card-title>
    <v-card-text>{{ i18n.queryCancelConfirmText }}</v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn text id="cancel-query-confirm-yes-button" @click="cancelQuery()" data-aid="cancel_query_confirm_yes">{{ i18n.yes }}</v-btn>
      <v-btn text id="cancel-query-confirm-no-button" @click="hideCancelQueryConfirm()" data-aid="cancel_query_confirm_no">{{ i18n.no }}</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
