<v-container v-if="showSettingsForm" fluid data-aid="user_settings_screen">
	<v-row>
		<v-col>
			<h2 v-text="i18n.settingsTitle"></h2>
		</v-col>
	</v-row>
	<v-row>
		<v-col>
			<v-alert v-if="$root.forceUserOtp" class="mt-2" type="error" icon="fa-shield-halved" border="left" colored-border text dense data-aid="user_settings_force_otp_alert">
				{{ i18n.forceUserOtp }}
			</v-alert>
			<v-tabs v-model="activeTab">
				<v-tab id="userSettings_generalTab" value="general" :class="{ 'theme-primary': activeTab === 'general' }" data-aid="user_settings_general_tab">
					<v-icon class="mb-1 mr-3">fa-cogs</v-icon>
					{{ i18n.settings }}
				</v-tab>
				<v-tab id="userSettings_profileTab" value="profile" :class="{ 'theme-primary': activeTab === 'profile' }" data-aid="user_settings_profile_tab">
					<v-icon class="mb-1 mr-3">fa-id-card</v-icon>
					{{ i18n.profile }}
				</v-tab>
				<v-tab id="userSettings_securityTab" value="security" :class="{ 'theme-primary': activeTab === 'security' }" data-aid="user_settings_security_tab">
					<v-icon class="mb-1 mr-3">fa-shield-halved</v-icon>
					{{ i18n.security }}
				</v-tab>
			</v-tabs>
			<v-tabs-window v-model="activeTab" class="full-width">
				<v-tabs-window-item value="general" data-aid="user_settings_general">
					<v-card class="my-4 border subtle-border">
						<v-card-title>{{ i18n.defaults }}</v-card-title>
						<v-card-text>
							<div v-text="i18n.resetDefaultsHint"></div>
							<p></p>
							<v-btn id="settingsResetDefaults" color="primary" :disabled="usingDefaults" v-text="i18n.resetDefaults" @click="resetDefaults"></v-btn>
						</v-card-text>
					</v-card>
				</v-tabs-window-item>
				<v-tabs-window-item value="profile" data-aid="user_settings_profile">
					<v-alert class="mt-2" type="warning" icon="fa-shield-halved" variant="tonal" density="compact">
						{{ i18n.profileInstructions }}
					</v-alert>
					<v-card outlined class="my-4 border subtle-border">
						<v-card-title>{{ i18n.profileDetails }}</v-card-title>
						<v-card-text>
							<v-form v-model="profileForm.valid" method="post" :action="authSettingsUrl">
								<v-text-field variant="underlined" name="traits.email" v-model="profileForm.email" :placeholder="i18n.email" :rules="[rules.required, rules.minemaillen]" class="d-none" data-aid="user_settings_email"></v-text-field>
								<v-text-field variant="underlined" name="traits.firstName" v-model="profileForm.firstName" :placeholder="i18n.firstName" type="text":rules="[rules.maxlen]" data-aid="user_settings_firstname"></v-text-field>
								<v-text-field variant="underlined" name="traits.lastName" v-model="profileForm.lastName" :placeholder="i18n.lastName" type="text" :rules="[rules.maxlen]" data-aid="user_settings_lastname"></v-text-field>
								<v-text-field variant="underlined" name="traits.note" v-model="profileForm.note" :placeholder="i18n.note" type="text" :rules="[rules.maxlen]" data-aid="user_settings_note"></v-text-field>
								<v-text-field variant="underlined" name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<v-text-field variant="underlined" name="method" value="profile" class="d-none"></v-text-field>
								<v-btn id="settingsProfileChangeSubmit" type="submit" color="primary" :disabled="!profileForm.valid" v-text="i18n.save"></v-btn>
							</v-form>
						</v-card-text>
					</v-card>
				</v-tabs-window-item>
				<v-tabs-window-item value="security" data-aid="user_settings_security">
					<v-alert class="mt-2" type="warning" icon="fa-shield-halved" variant="tonal" density="compact">
						{{ i18n.securityInstructions }}
					</v-alert>
					<v-card v-if="oidcEnabled" outlined class="my-4">
						<v-card-title>{{ i18n.oidc }}</v-card-title>
						<v-card-subtitle v-text="i18n.oidcHelp"></v-card-subtitle>
						<v-card-text v-if="passwordEnabled">
							<div class="mb-2" v-text="i18n.oidcLinkHelp"></div>
							<v-form method="post" :action="authSettingsUrl">
								<v-text-field name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<div v-for="oidc in oidcProviders">
									<v-btn v-if="oidc.op == 'link'" :name="oidc.op" :value="oidc.id" :id="'settingsOidcLink_' + oidc.id" type="submit" color="primary" v-text="i18n.oidcLink + ' ' + oidc.id"></v-btn>
									<v-btn v-if="oidc.op == 'unlink'" :name="oidc.op" :value="oidc.id" :id="'settingsOidcUnlink_' + oidc.id" type="submit" color="primary" v-text="i18n.oidcUnlink + ' ' + oidc.id"></v-btn>
								</div>
							</v-form>
						</v-card-text>
					</v-card>

					<v-card v-if="passwordEnabled" class="my-4 border subtle-border">
						<v-card-title>{{ i18n.password }}</v-card-title>
						<v-card-subtitle v-text="i18n.passwordInstructions"></v-card-subtitle>
						<v-card-text>
							<v-form v-model="passwordForm.valid" method="post" :action="authSettingsUrl">
								<v-text-field variant="underlined" name="password" v-model="passwordForm.password" :placeholder="i18n.passwordChange" :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword" :append-icon="showPassword ? 'fa-eye-slash' : 'fa-eye'" :rules="[rules.required, rules.minpasslen, rules.maxpasslen, rules.badpasschs]" data-aid="user_settings_password_input"></v-text-field>
								<v-text-field variant="underlined" :placeholder="i18n.passwordConfirm" :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword" :append-icon="showPassword ? 'fa-eye-slash' : 'fa-eye'" :rules="[rules.required, rules.maxpasslen, rules.matches, rules.badpasschs]" data-aid="user_settings_password_confirm_input"></v-text-field>
								<v-text-field variant="underlined" name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<v-text-field variant="underlined" name="method" value="password" class="d-none"></v-text-field>
								<v-btn id="settingsPasswordChangeSubmit" type="submit" color="primary" :disabled="!passwordForm.valid" v-text="i18n.save"></v-btn>
							</v-form>
						</v-card-text>
					</v-card>

					<v-card v-if="passwordEnabled && totpForm.qr && totpForm.secret" outlined class="my-4 border subtle-border">
						<v-alert class="theme-background-lighten-1" border="start" border-color="error" variant="text" density="compact" icon="fas fa-exclamation-triangle text-error">
							{{ i18n.securityInstructionsTotp }}
						</v-alert>
						<v-card-title>{{ i18n.totp }}</v-card-title>
						<v-card-subtitle v-text="i18n.totpQrInstructions"></v-card-subtitle>
						<v-card-text>
							<v-form v-model="totpForm.valid" method="post" :action="authSettingsUrl">
								<v-img id="totp-qr" class="my-4" width="320" :src="totpForm.qr"></v-img>
								<div id="totp-secret" v-text="i18n.totpSecretInstructions"></div>
								<div class="my-4 mx-4">
									{{ totpForm.secret }}
									<v-icon class="ml-1" @click="$root.copyToClipboard(totpForm.secret)" :title="i18n.copyToClipboard" data-aid="user_settings_security_totp_secret_copy">fa-copy</v-icon>
								</div>
								<v-text-field variant="underlined" name="totp_code" autocomplete="off" v-model="totpForm.code" :placeholder="i18n.totpCodeHelp" type="text" :rules="[rules.required, rules.mintotplen, rules.maxtotplen]" data-aid="user_settings_security_totp_input"></v-text-field>
								<v-text-field variant="underlined" name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<v-text-field variant="underlined" name="method" value="totp" class="d-none"></v-text-field>
								<v-btn id="settingsTotpActivateSubmit" type="submit" color="primary" :disabled="!totpForm.valid" v-text="i18n.totpActivate"></v-btn>
							</v-form>
						</v-card-text>
					</v-card>

					<v-card v-if="unlink_totp_available" outlined class="my-4 border subtle-border">
						<v-card-title>{{ i18n.totp }}</v-card-title>
						<v-card-text>
							<v-form method="post" :action="authSettingsUrl">
								<div class="mb-4" v-text="i18n.totpUnlinkInstructions"></div>
								<v-text-field variant="underlined" name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<v-text-field variant="underlined" name="totp_unlink" value="true" class="d-none"></v-text-field>
								<v-btn id="settingsTotpDeactivateSubmit" type="submit" color="primary" v-text="i18n.totpDeactivate"></v-btn>
							</v-form>
						</v-card-text>
					</v-card>

					<v-card v-if="webauthnForm.script" outlined class="my-4 border subtle-border">
						<v-card-title>{{ i18n.webauthn }}</v-card-title>
						<v-card-subtitle v-text="i18n.webauthnInstructions"></v-card-subtitle>
						<v-card-text>
							<v-form v-model="webauthnForm.valid" method="post" :action="authSettingsUrl">
								<v-text-field variant="underlined" name="webauthn_register_displayname" autocomplete="off" v-model="webauthnForm.name" :placeholder="i18n.webauthnNameHelp" type="text" :rules="[rules.required]" data-aid="user_settings_webauth_name_input"></v-text-field>
								<v-text-field variant="underlined" name="webauthn_register" v-model="webauthnForm.key" class="d-none"></v-text-field>
								<v-text-field variant="underlined" name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
								<v-btn class="mb-4" name="webauthn_register_trigger" id="settingsWebauthnActivate" type="button" color="primary" v-text="i18n.webauthnAddKey" :disabled="!webauthnForm.valid" @click="runWebauthn()" data-aid="user_settings_webauth_add"></v-btn>
							</v-form>
						</v-card-text>

						<div v-if="webauthnForm.existingKeys.length">
							<v-card-subtitle v-text="i18n.webauthnExistingKeys"></v-card-subtitle>
							<v-card-text>
								<v-form v-for="key in webauthnForm.existingKeys" method="post" :action="authSettingsUrl">
									<v-text-field name="csrf_token" v-model="csrfToken" class="d-none"></v-text-field>
									<v-text-field name="webauthn_remove" v-model="key.value" class="d-none"></v-text-field>
									<div :id="'settingsWebauthnExistingKey_' + key.id" class="ml-2">
										{{ key.name }}
										<v-btn name="webauthn_remove" icon variant="text" size="small" :value="key.value" :id="'settingsWebauthnDelete_' + key.id" type="submit" color="primary" data-aid="user_settings_webauth_unlink" >
											<v-icon>fa-circle-xmark</v-icon>
										</v-btn>
									</div>
								</v-form>
							</v-card-text>
						</div>
					</v-card>

				</v-tabs-window-item>
			</v-tabs-window>
		</v-col>
	</v-row>
</v-container>
