<div v-bind="$attrs">
	<template v-for="item in items" :key="item.id">
		<div v-if="filter(item)" @click="click(item)" @keydown.enter.space.stop="click(item)" class="d-flex pa-3 treeview-item" :class="{ 'treeview-item--active': item.id === this.selectedId }" style="cursor: pointer; user-select: none;" :style="{ 'padding-left': calcGutter() + ' !important' }" role="button" tabindex="0">
			<span v-if="item.children">
				<v-icon v-if="item.open" variant="text" size="small" icon>fas fa-caret-down</v-icon>
				<v-icon v-else variant="text" size="small" icon>fas fa-caret-right</v-icon>
			</span>
			<span class="ml-2">
				<span :id="'config-item-' + item.id">{{ itemTitle(item) }}</span>
				<v-icon v-if="settingModified(item)" class="ml-2" color="primary" :title="i18n.settingIsModified">fa-pencil</v-icon>
				<v-icon v-if="settingModifiedPerNode(item)" class="ml-2" color="warning" :title="i18n.settingHasNodeValues">fa-circle-nodes</v-icon>
			</span>
		</div>
		<tree-view :items="item.children" :class="{ 'd-none': !item.open }" :depth="depth+1" :selected="selected" @update:selected="passthrough" :search="search"
			:item-title="itemTitle" :setting-modified="settingModified" :setting-modified-per-node="settingModifiedPerNode" :i18n="i18n" :deep-search-findings="whitelist"></tree-view>
	</template>
</div>
